@media screen and (min-width:1920px) {
    .filter-item {
        min-width: 25vw !important;
        min-height: 550px
    }
}

@media screen and (min-width:2800px) {
    .header-white-menu-container .header-menu-item .btn {
        font-size: 1em !important
    }
    .header-white-menu-container button {
        font-size: 1em !important
    }
    .header-white-menu-container .header-menu-item .btn.icon-override-to-right svg {
        margin-top: auto
    }
    p {
        font-size: 1em
    }
    .filter-item .card__by {
        font-size: 1.5em !important
    }
    .filter-item h2 {
        line-height: 1.2em
    }
    .navigation h3 {
        font-size: 3.25rem
    }
    .navigation__content .boulder-checkbox-container p {
        font-size: 1.3em;
        line-height: 1em
    }
    .navigation h3 {
        font-size: 1.5em !important;
        line-height: 1.125em;
        max-width: 60%
    }
}